
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit livery information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<form th:object="${editLivery}" th:action="@{/saveLivery}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{id}"/>
			
			<label for="name">Name </label> 
			<input type="text" id="name" th:field="${editLivery.name}" /><br>
			
			<label for ="description">Description</label>
			<input type="text" id="description" th:field="${editLivery.description}"/><br>
			
			<label for ="sharecode">Share code</label>
			<input type="text" id="sharecode" th:field="${editLivery.sharecode}"/><br>
					
			<label for="games">Game</label>
			 <select id="games" th:field="*{game}">
       			<option th:each="game: ${games}" 
       			th:value="${game.id}" th:text="${game.name}"></option>
    		</select><br>
    		
    		<label for="carmodels">Car model</label>
			 <select id="carmodels" th:field="*{carmodel}">
       			<option th:each="carmodel: ${carmodels}" 
       			th:value="${carmodel.id}" th:text="${carmodel.name}"></option>
    		</select><br>
    		
    		<label for="users">Creator</label>
			 <select id="users" th:field="*{user}">
       			<option th:each="user: ${users}" 
       			th:value="${user.id}" th:text="${user.username}"></option>
    		</select><br>
    		
			<input type="submit" value="Update"></input>
		</form>
		
	<footer>
	<a href="/index">Main menu</a><br>
	<a href="/liverylist">Liveries listed</a><br>
	<a href="/userlist">Users listed</a><br>
	<a href="/carmodellist">Car models listed</a><br>
	<a href="/carmanufacturerlist">Car manufacturers listed</a><br>
	<a href="/countrylist">Countries listed</a><br>
	<a href="/registerNewUser">Register new user</a><br>
	<br>
	<br>
	<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out"/>
	</form>
	</footer>

	</div>
</body>
</html>