<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit livery information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<form th:object="${editCountry}" th:action="@{/saveCountry}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{id}"/>
    		
    		<label for="name">Name </label> 
			<input type="text" id="name" th:field="${editCountry.name}" /><br>
			<input type="submit" value="Update"></input>
		</form>
		
	<footer>
	<a href="/index">Main menu</a><br>
	<a href="/liverylist">Liveries listed</a><br>
	<a href="/userlist">Users listed</a><br>
	<a href="/carmodellist">Car models listed</a><br>
	<a href="/carmanufacturerlist">Car manufacturers listed</a><br>
	<a href="/countrylist">Countries listed</a><br>
	<a href="/registerNewUser">Register new user</a><br>
	<br>
	<br>
	<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out"/>
	</form>
	</footer>

	</div>
</body>
</html>