<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Liverylist</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<a href="/index" class="navbar-brand">
		<img src="../glacier-03.png"  height="50" class="d-inline-block align-top" alt="">
		</a>
		<button class="navbar-toggler"><span class="navbar-toggler-icon" data-toggle="collapse" data-target="#navbarMenu"></span></button>
		<div class="collapse navbar-collapse" id="navbarMenu">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a href="/liverylist" class="nav-link">Liveries</a></li>
			<li class="nav-item"><a href="/carmanufacturerlist" class="nav-link">Manufacturers</a></li>
			<li class="nav-item"><a href="/carmodellist" class="nav-link">Car models</a></li>
			<li class="nav-item"><a href="/countrylist" class="nav-link">Countries</a></li>
			<li class="nav-item"><a href="/userlist" class="nav-link">Users</a></li>
			<li class="Nav-item">
				<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-danger">
				</form></li>
		</ul>
		</div>
	</nav>
	
	<div class="container">
	
	
	<h1>Liverylist</h1>
	<table class="table table-striped table-responsive">
		<tbody>
			<th th:text = "Livery"></th>
			<th th:text = "Description"></th>
			<th th:text = "Sharecode"></th>
			<th th:text = "Manufacturer"></th>
			<th th:text = "Model"></th>
			<th th:text = "Country"></th>
			<th th:text = "Game"></th>
			<th th:text = "Creator"></th>
			<th th:text = "Edit"></th>
			<th th:text = "Delete"></th>
			
			<tr th:each = "livery : ${Liveries}">
			<td th:text="${livery.name}"></td>
			<td th:text="${livery.description}"></td>
			<td th:text="${livery.sharecode}"></td>
			<td th:text="${livery.carmodel.manufacturer.name}"></td>
			<td th:text="${livery.carmodel.name}"></td>
			<td th:text="${livery.carmodel.manufacturer.country.name}"></td>
			<td th:text="${livery.game.name}"></td>
			<td th:text="${livery.user.username}"></td>
			<td><a th:href="@{/editlivery/{id}(id=${livery.id})}"><button class="btn btn-primary">Edit</button></a></td>
			<td><a th:href="@{/delete/{id}(id=${livery.id})}"><button class="btn btn-danger">Delete</button></a></td>
			
			</tr>
		</tbody>
	</table>
	<p>
	<a href="/addlivery"><button class="btn btn-primary">Add new livery</button></a>
	</p>
	</div>
</body>

<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>