<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1>Sign up as a new user!</h1>
	<div>
		<form th:object="${registerUser}" th:action="@{saveUser}" action="#" method="post">
		
		<p><label for="Etunimi">First name</label>
		<input type="text" id="firstName" th:field="*{firstName}"/></p>
		<p><label for="Sukunimi">Last name</label>
		<input type="text" id="lastName" th:field="*{lastName}" /></p>
	
		<p><label>username
		<input type="text" th:field="*{username}"/></label>
		<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
		
		<p><label for="password">password</label> 
		<input type="text" id="password" th:field="*{password}" /></p>
		
		<p><label>confirm password: 
		<input type="text" th:field="*{pwdcheck}"/></label></p>
		<p th:if="${#fields.hasErrors('pwdcheck')}" th:errors="*{pwdcheck}">Password Match Error</p>
	
		<p><label for="roles">Role</label> 
			<select id="roles" th:field="*{role}">
				<option value="user">user</option>
 				<option value="admin">admin</option>
  			</select></p>
		
			<p><input type="submit" value="Lisää"></p>
		</form>
	</div>
</body>
</html>