<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Liverylist</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
	<header>
	<a href="/index">Main menu</a>
	</header>
	<h1>Userlist</h1>
	<table>
		<tbody>
			<tr th:each = "user : ${Users}">
			<td th:text="${user.firstName}"></td>
			<td th:text="${user.lastName}"></td>
			<td th:text="${user.username}"></td>
			<td th:text="${user.role}"></td>
			
			<td><a th:href="@{/deleteuser/{id}(id=${user.id})}">Delete</a></td>
			<!--  <td><a th:href="@{/edituser/{id}(id=${user.id})}">Edit</a></td> Tämä ei toimi oikein :(-->
			</tr>
		</tbody>
	</table>
	<p>
	<a href="/registerNewUser">Add new user</a>
	</p>
	
	<footer>
	<a href="/index">Main menu</a><br>
	<a href="/liverylist">Liveries listed</a><br>
	<a href="/userlist">Users listed</a><br>
	<a href="/carmodellist">Car models listed</a><br>
	<a href="/carmanufacturerlist">Car manufacturers listed</a><br>
	<a href="/countrylist">Countries listed</a><br>
	<a href="/registerNewUser">Register new user</a><br>
	<br>
	<br>
	<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out"/>
	</form>
	</footer>
	
</body>
</html>